@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar CSS */
.navbar {
    background: #121212;
    height: 4.5rem;
    display: flex;
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.085);
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
}

#navbar-logo {
    background-image: linear-gradient(to top, #F16767 0%, #DF2E38 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
}

.fa-gem {
    margin-right: 0.5rem;

}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-items {
    width: 100%;
}

.nav-links {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 2rem;
    height: 100%;
    cursor: pointer;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    background: #DF2E38;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: black;
}

.nav-links:hover {
    color: #ff8177;
    transition: all 0.2s ease-in-out;
}

/* Responsive */
@media screen and (max-width: 960px) {

    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        padding: 0;
        max-width: 1300px;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #121212;
    }

    .navbar-menu.active {
        background: #121212;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 65vh;
        font-size: 1.2rem;
    }

    #navbar-logo {
        padding-left: 25px;
    }

    .nav-toggle .bar {
        display: block;
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }

    .nav-items {
        width: 100%;
    }

    .nav-links {
        padding: 2rem;
        width: 100%;
        display: table;
        text-align: center;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .nav-btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.2rem;
        font-size: 1.2rem;
        height: 3rem;
        width: 50%;
        margin: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);

    }
}

/* Section CSS */

main {
    background: #121212;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    height: 100vh;
    background-color: #121212;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.main-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    background-image: linear-gradient(to top, #F16767 0%, #DF2E38 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-content h2 {
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(to top, #4E31AA 0%, #3795BD 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-content p {
    font-size: 1.5rem;
    color: #fff;
}

.main-btn {
    font-size: 1.2rem;
    padding: 14px 2.5rem;
    border-radius: 10rem;
    margin-top: 2rem;
    background-image: linear-gradient(to top, #F16767 0%, #DF2E38 100%);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.main-btn a {
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: #fff;
}

.main-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4E31AA;
    transition: all 0.4s ease-in-out;
    border-radius: 10rem;
}

.main-btn:hover::after {
    width: 100%;
}

.main-btn:hover {
    color: #fff;
    transform: translateY(-2px);
}

.main-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 auto;
}

#main-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

/* Mobile Responsive */

@media screen and (max-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }

    .main-content {
        text-align: center;
        margin-bottom: 3rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .main-content h2 {
        font-size: 2rem;
    }

    .main-content p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main-content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main-content h2 {
        font-size: 1.5rem;
    }

    .main-content p {
        font-size: 1rem;
    }

    .main-btn {
        margin: 2rem 0;
        padding: 10px 2rem;
    }

    .main-btn a {
        font-size: 1rem;
    }
}

/* Services Section CSS */
.services {
    background: #121212;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.services h1 {
    font-size: 3.5rem;
    font-weight: 700;
    background-image: linear-gradient(to top, #F16767 0%, #DF2E38 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.services h2 {
    position: absolute;
    left: 2rem;
    top: 360px;
}

.services-card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), 0%, rgba(17, 17, 17, 0.5) 100%), url(images/pic3.jpg);
    background-size: cover;
    position: relative;
    color: #FFF;
}

.services-card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), 0%, rgba(17, 17, 17, 0.5) 100%), url(images/pic4.jpg);
}

.services-card:hover {
    transform: scale(1.075);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.services-btn {
    position: absolute;
    top: 440px;
    left: 2rem;
    padding: 10px 20px;
    border-radius: 40px;
    background: #DF2E38;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

.services-btn:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: black;
}

/* Responsive Services */
@media screen and (max-width: 960px) {
    .services {
        height: 100%;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 15rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 100%;
    }

    .services h1 {
        font-size: 1.5rem;
        margin-top: 15rem;
    }

    .services-card {
        width: 300px;
    }
}

/* Footer CSS */
.footer-container {
    background: #121212;
    height: 100%;
    display: flex;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

#footer-logo {
    color: #FFF;
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 8px;
    text-decoration: none;
}

#footer-logo:hover {
    color: #DF2E38;
    transition: 0.3s ease-out;
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.links-wrapper {
    display: flex;
}

.link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5rem;
    text-align: left;
    width: 160px;
    box-sizing: border-box;

}

.link-items h2 {
    margin-bottom: 1rem;
    color: #FFF;
}

.link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: .5rem;
}

.link-items a:hover {
    color: #DF2E38;
    transition: 0.3s ease-out;
}

/* ICONS */
.icon-links {
    color: #fff;
    font-size: 2rem;
}

.icon-links:hover {
    color: #DF2E38;
    transition: 0.3s ease-out;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.socialmedia-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 900px;
    margin: 40px auto 0 auto;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-logo {
    color: #FFF;
    justify-self: flex-start;
    margin-left: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.website-rights {
    color: #fff;
}

@media screen and (max-width: 820px) {
    .footer-links {
        padding-top: 2rem;
    }

    .footer-logo {
        margin-bottom: 2rem;
    }

    .website-rights {
        margin-bottom: 2rem;
    }

    .links-wrapper {
        flex-direction: column;
    }

    .socialmedia-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .link-items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}