@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
/* General Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
section {
    min-height: 100vh;
}
footer {
    height: 30vh;
}
/* Typography */
header .title,
header .subtitle {
    color: #fff;

}
.headers{
    margin-bottom: 3rem;
}
.title {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    color: #333;
    text-shadow: black 3px 5px 2px;
    border-radius: 10px;
    background: #1D3557;
    padding: 5px 15px;
    
    margin-bottom: 1rem;
}

.subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
}
#subtitleheader{
    padding: 10px 10px;
    margin: 0 280px 0 280px;
    text-shadow: black 1px 3px 1px;
    border-radius: 10px;
    background: #457B9D;
}

.content {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 1rem;
}

.footer-title{
    font-size: 2.1rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 1rem;
}
.footer-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 1rem;
}
.footer-subtitle{
    font-size: 1.8rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 1rem;
}


/* Header */
header {
    background-image: url("https://w0.peakpx.com/wallpaper/163/425/HD-wallpaper-lauterbrunnen-switzerland-windows-switzerland-lauterbrunnen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    place-content: center;
    height: 100vh;
}
/* Spots */
.spots {
    display: grid;
    place-content: center;
    background: linear-gradient(#BCEAD5, #90A17D);
    padding: 2rem;
}

.spots .subtitle {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.spot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: vw;
    margin: 0 1em;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    border: #FFF8EA 15px solid;
    border-style:groove;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: 50px 30px 0 30px;
    transition: all 300ms ease-in-out;
}

#img1 {
    background-image: url("https://i.pinimg.com/564x/c7/1e/4f/c71e4f4876fe1fa291b8190c10a27680.jpg");
}
#img2 {
    background-image: url("https://i.pinimg.com/564x/2a/c6/0d/2ac60de5f8fd66a1f6a50b7d187b029f.jpg");
}
#img3 {
    background-image: url("https://www.zuerich.com/sites/default/files/styles/1216_684_focal_scale_crop/public/image/2022/web_zuerich_z%C3%BCrichsee_1280x960_7907_0.jpg?h=1655731323");
}

.main {
    transition: all 300ms ease-in-out;
}

.img-container:hover .main {
    opacity: 0;
}

.info {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF8EA;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}
.description {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #D0D6B5;
}

.img-container-footer{
    border: #DE8F6E 8px solid;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 1rem 30px;
}

.footer-info{
    margin: 60px 20px 50px 20px;
   
}
